{%extends "layout.html"%}
{%block title%}
	Dashboard
{%endblock%}
{%block head%}
<ul class="topnav">
	<li id="hd">Project 1: Books</li>
	<li><a href="/" id="logout"><strong>Logout</strong></a></li>
	<li><a href="/search" id="logout"><strong>Search</strong></a></li>
	<li id="Welcome">{{user}}</li>
</ul> 

{%endblock%}
{%block body%}
	<div class="row">
		<div id="column" class="col-xs-2 col-md-3">
			<img src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg"/>
		</div>
	  	<div  id="column" class="col-xs-2 col-md-3">
	  		<h3><strong>{{book.title}}</strong></h3>
			<h4>Author : {{book.author}}</h4>
			<h5>Published : {{book.year}}</h5>
			<h5>ISBN - {{book.isbn}}</h5>
	  	</div>
	  	<div id="column" class="col-xs-2 col-md-3">
	  		<img style="width: 25vh;height: 5vh"src="{{url_for('static',filename='goodreads.jpg')}}"/>
	  		<h5>No of ratings:	{{res.json()['books'][0]['work_ratings_count']}}</h5>
	  		<h5>Average rating: {{res.json()['books'][0]['average_rating']}}</h5>
	  	</div>
	</div>
	<div class="dropdown-divider"></div><br>
	<div style="width:70vw;text-align: center;"class="alert alert-danger" role="alert">
  		<stong>User Reviews</stong>
	</div><br>
	<form method="post">
        <div class="form-row" >
            <div class="form-group col-sm">
                <label for="rating">Rate this book</label>
                <select name="rating" class="form-control" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option selected value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Say something</span>
                    </div>
                    <textarea name="review"  class="form-control" rows="1" required></textarea>
                </div>
            </div>
            <div class="form-group col-sm">
                <button class="btn btn-danger" type="submit">Submit</button>
            </div>
        </div>
    </form>
    <div class="category">
			<div class="flexbox-cols">
	{%if reviews%}
	{%for review in reviews%}
					<div id="comment"class="card border-dark mb-3" >
						<div class="card-body">
							<h5 class="card-title">{{review.username}}</h5>
							<h6 class="card-subtitle mb-2 text-muted">{{review.time}}</h6>
							<p  style="text-align:center" class="card-text">{{review.review}}</p>
							<h5 class="card-text">Rating:{{review.rating}}</h5>
						</div>
				</div>
	{%endfor%}
	{%endif%}
	</div>
		</div>
{%endblock%}